.container {
  background: #18191C;
  padding: 8px 6px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px 0px;
}

.item {
  padding: 0 8px;
  font-weight: 500;
  line-height: 18px;
  min-height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.item:hover {
  background: rgba(79, 84, 92, 0.16);
}
